p{
    text-align: center;
    width: 80%;
    font-size: large;
}
h2{
    font-style: oblique;
    font-size:x-large;
}
li,a{
    font-style: italic;
    color: rgb(107, 0, 0);
}
h1{
    font-size: 50px;
    text-align: center;
}
.central{
    display: flex;
}
main{
    width: 70%;

}
nav{
    width: 12%;
    border: 1pt black solid;
    margin-right: 5%;
    margin-left: 3%;
    padding-right: 3%;
    padding-left: 1%;
    padding-bottom: 3%;
    height:min-content


}
header{
    text-align: center;
}
footer{
    padding-left: 5%;
}
.calle{
    text-align: left;
}
