body{
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
    background-size: cover;
    background-image: url("../img/background.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: row;
    position:absolute;
    width: 100%;
    color: white;
    font-size: 200%;
    font-family: Arial, Helvetica, sans-serif;

}

@font-face {
    font-family:'title' ;
    src: url("../fonts/Plane\ Crash.ttf");
}
.portada{
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}
.portada img{
    display: block;
    border: rgb(0, 0, 0) 1px solid;
    width: 800px;
    border-radius: 50%;
}
.portada a :hover{
    transform:scale(1.2);
    border-radius: 50%;
    border: rgb(0, 0, 0) 4pt solid;
}
/*Todo lo de arriba es lo único que pertenece  exclusivamente a la portada excepto el body*/
header{
    width: 100%;
    height: 10%;
    font-family: 'title';
    font-size: 20px;
    background-color: rgba(85, 107, 47, 0.788);
    display: flex;
    align-items: center;
    justify-content: center;
    position:fixed;
}
.contenido{
    display: flex;
    width: 100%;
    margin-top: 5%;

}
main{
    display: flex;
    flex-direction: column;
    margin-top: 1%;
    width: 90%;
    margin-left: 1%;
    background-color: rgba(49, 49, 49, 0.795);
    border-radius: 25pt;
    padding: 3%;

}
.contenido aside{
    display: flex;
    background-color: hsla(0, 0%, 100%, 0.788);
    margin: 1%;
    border-radius: 25pt;
    width: 10%;
    height: 800px;
    flex-direction: column;
    padding: 1%;
    align-items: center;
    justify-content: space-around;
}
.contenido aside div{
    display: flex;
    align-items: center;
}
.contenido aside div img{
    width: 100%;
    border-radius: 15pt;
}
.contenido aside div :hover{
    transform:scale(1.1);
    border: red solid 1px;
}
hr {
    width: 100%;

}
h2{
    font-family: 'title';

}
.elclamido img{
    display: block;
    width: 30%;
    border-radius: 20pt;   
}
.elclamido div{
    margin-left: 5%;
}
.elclamido{
    padding-top: 1%;   
    display: flex;
    flex-direction: row;
}

.tituloindex ul{
    display: flex;
    flex-direction: row;
    height: 50%;

}
.tituloindex li{
    background-color: rgba(49, 49, 49, 0.822);
    margin: 1%;
    padding: 1%;
    border-radius: 5pt;
    display: flex; 
    align-items: center;  
    flex-direction: column; 
    width: 30%;
}
.tituloindex li img{
    border-radius: 15pt;
    height: 80%;   
    width: 80%;
}
.tituloindex li:hover{
    transform:scale(1.2);
    width: 40%;
    height: 100%;
    border-radius: 15pt;
    background-color: rgb(49, 49, 49);
    border: rgb(0, 0, 0) 1pt solid;
}
.tituloindex a{
    
    display: flex;
    margin: 1%;
    padding: 1%;
}
a:link{
    color: white;
}
a:visited{
    color: black;
}
a:hover{
    background-color: black;
    border-radius: 15pt;
}
a:hover:visited{
    background-color: white;
}