body {
  background-color: rgb(28, 28, 28);
  color: rgb(214, 216, 218);
}

@font-face {
  font-family: "PartyConfetti";
  src: url("../fonts/Party\ Confetti.ttf");
}

h1 {
  font-family: "PartyConfetti";
  letter-spacing: 2pt;
  font-size: 35pt;
}
.divimg {
  width: 50%;
  margin: auto;
}

h2 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", "Geneva", Verdana, sans-serif;
}
h1,
h2 {
  background-color: black;
  text-indent: 25pt;
  text-indent: 25pt;
  margin: auto;
  width: 50%;
}
li {
  line-height: 20pt;
  width: 50%;
  margin: auto;
}
p {
  width: 50%;
  margin: auto;
}
.datos {
  font-weight: bold;
}
.info {
  font-style: italic;
}
p.foto {
  width: min-content;
  background-color: black;
  margin-left: 25%;
  text-indent: 25pt;
}
