body{
  background-color: darkslategray;  
}
span{
    width: 25%;
    text-align: right;
    margin-right: 17%;
    font-size: 400%;
    
}

.izquierda{
    margin-left: 5%;
}

@font-face {
    font-family:"tipo1" ;
    src: url('../fonts/Goudy-Old-Style.ttf');
}
@font-face {
    font-family:"tipo2" ;
    src: url('../fonts/Augusta-Shadow.ttf');
}
@font-face {
    font-family:"tipo3";
    src: url('../fonts/KGPrimaryItalics.ttf');
}
@font-face {
    font-family:"tipo4" ;
    src: url('../fonts/Philosopher-Regular.ttf');
}
.tipo1{
    font-family: "tipo1";
    color:rgb(173, 163, 163);
}
.tipo2{
    font-family: "tipo2";
    color: rgb(207, 0, 0);
}
.tipo3{
    font-family: "tipo3";
    color: burlywood;
}
.tipo4{
    font-family:"tipo4" ;
    color: coral;
}
.tipo5{
    font-family: 'Oswald', sans-serif;
    color: darkgoldenrod;
}
