body {

    background-image: url(../img/pleurodeles-watl-4.jpg);
    background-size: 100%, 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

@font-face {
    font-family: "rimas1";
    src: url("../fonts/KGPrimaryItalics.ttf");
}

@font-face {
    font-family: "rimas2";
    src: url("../fonts/TheStudentsTeacher-Regular.ttf");
}

@font-face {
    font-family: "rimas3";
    src: url("../fonts/Philosopher-Regular.ttf");
}

@font-face {
    font-family: "titulo";
    src: url("../fonts/Octobre-Variable.ttf");
}

img {
    margin-left: 5%;
}

h1 {
    font-size: 400%;
}

h2 {
    font-size: 200%;
}

h1,h2 {
    color: aliceblue;
    margin-left: 5%;
    font-family: titulo;

}

p.rimas1 {
    font-family: 'rimas1';
}

p.rimas2 {
    font-family: 'rimas2';
}

p.rimas3 {
    font-family: 'rimas3';
}

p.bequer {
    color: aliceblue;
    margin-left: 5%;
    font-family: titulo;

}

p.rimas1,p.rimas2,p.rimas3 {
    font-size: 150%;
    font-weight: bolder;
    color: aliceblue;
    width: 50%;
    margin-left: 5%;
    text-align: justify;
}